<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Prédiction Immobilière</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title-index">Prédiction des prix des biens immobiliers</h1>
        <h3>Merci d'utiliser notre outil afin de prédire le prix de votre futur chez-vous !</h3>

    <div class="container-btn">
        <p>Choisissez l'algorithme avec lequel prédire le prix.</p>
        <div class="btn">
            <a href="/linear">Régression Linéaire</a>
            <a href="/xgboost">XgBoost</a>
            <a href="/random_forest">Random Forest</a>
        </div>
    </div>
</body>
</html>